* {margin:0;padding:0;position:relative;font-family:inherit;outline: none;border:none;}
body {
	min-height:100%;
	position:relative;
	width:100%;

	font-family:"BebasRegular";
	background:#000;
	color:#fff;
}
a {text-decoration:none;text-transform:none;}
p { clear: both; }
a:active, a:hover, a:focus {
    outline: 0;
    outline-offset: 0;
}




.container {max-width:1010px;min-height:650px;height:100vh;margin:auto;position:relative;}
.container .wrapper {margin:auto;display: flex;justify-content: center;align-items: center;height:100%;}


.main .header {padding:15px 0;}
.main .header .nav {display:flex;margin:auto;}
.main .header ul {display:flex;margin-left:auto;}

.main .wrapper-center {display:table;position:absolute;
top:0;bottom:0;left:0;right:0;width: 100%;margin: auto;}

.main .center {display: table-cell;vertical-align:middle;text-align:center;}
.main .centered-text {display: inline-block;text-align:left;}
	.main h1 {font-size:32px;font-family:"BebasBook";color:#999999;}
	.main h2 {font-size:50px;}

.main .bottom {bottom:60px;position: absolute;text-align:center;width:100%;}
.main h3 {font-size:30px;}




.section__title {
	font-size:48px;
	text-align:center;
}






.aboutus .list {
	margin: 50px 0;
} .aboutus .list .box {
	display:flex;
	margin:10px 0;
}

.aboutus .list .icon {
	min-width:100px;min-height:100px;display:table;
	margin:0 10px;
} .aboutus .list .content {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.aboutus .list .title {
	font-size: 28px;
} .aboutus .list .text {
	font-size: 24px;
	color:#cecece;
}



.service .wrapper-table {
	display:flex;
	margin:50px 0;
} .service .table {
	width:175px;
	text-align:center;
} .service .table .title {
	font-size: 23px;
} .service .table p {
	margin: 5px 0;
	font-size: 20px;
} .service .table span {
	width:75%;
	background:#fff;
	height:2px;
	display: block;
	margin:7px auto;
} .service .table .title {

} .service .bottom_title {
	text-align:center;
	position:absolute;
	bottom:50px;
	font-size: 20px;
	color:#cecece;
}





.order .form {
	z-index:3;
	background:#fff;
}
.order .form .head {
	color:#cccccc;
	padding:20px 0;
	background:#292831;
	text-align: center;
	font-size: 24px;
}
.order .form .body {
	font-size: 16px;
	padding:20px 40px;
} .order .form .hint {
	color:#000;
	left: 5px;
}

.order .form .item {
	margin:15px 0;

}
.order .form .area {
	display:block;
	border-radius:7px;
	background:#cccccc;
	padding:15px;
	font-size: 12px;
	box-sizing: border-box;
	font-family:Arial;
} .order .form .area::placeholder {
	color:#666;
	font-family:"BebasRegular";
} .order .form .area:focus::placeholder {
	color:transparent;
}
.order .form .email {
	height:45px;
	width:220px;
} .order .form textarea {
	height:120px;
	width:220px;
	resize:none;
} .order .form .button {
	padding:10px 45px;
	box-sizing: content-box;
	background:#666666;
	font-size: 18px;
	color:#fff;
	margin:auto;
	font-family:"BebasRegular";
} .order .form .button:hover {
	background:#454545;
} .order .form .button:active {
	background:#000;
} .order .form .status {
    text-align: center;
    font-family: "BebasBold";
    font-size: 17px;
}


.order .fade {
	position: absolute;
	width:100%;
	height:100%;
	background:#000;
	z-index:2;
	display:none;
}
 /*.order .form .area:focus,.order .fade {
	background:#fff;
}*/









.footer {
	font-family:"BebasBook";
	font-size: 20px;
} .footer,.footer .container,.footer .wrapper {
	height:65px;min-height:65px;
} .divideblock { width:45%; }













.button-hdr {
	text-align: center;
	position: relative;
	background:none;
	padding: 10px 15px;
	color:#fff;
	font-size:24px;
	height:auto;
}
.button-hdr:hover {
	color:#999999;
	color:rgba(0,0,0,0);
}
.button-hdr:hover:after {
	content:attr(text);
	color:#fff;
	font-family:"BebasBook";
	padding:8px 0px;

	position:absolute;
	width:100%;height:100%;

	border: 2px solid  #fff;
	border-radius: 15px;
	box-sizing: border-box;

	left: 0px;top: 0px;
}



.main {background:url("img/bkg1.jpg") no-repeat;background-size:cover;}

.aboutus {background:#333333;}

.service {background:url("img/bkg2.jpg") no-repeat;background-size:cover;}

.order {background:#333639;}

.footer {background:#000;}





































.bkg-opacity1:before {
	content: "";
    background: rgba(0,0,0,0.1);
    width: 100%;
    height: 100%;
    position: absolute;
}
.bkg-opacity2:before {
	content: "";
    background: rgba(0,0,0,0.2);
    width: 100%;
    height: 100%;
    position: absolute;
}
.bkg-opacity3:before {
	content: "";
    background: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    position: absolute;
}
.bkg-opacity4:before {
	content: "";
    background: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    position: absolute;
}
.bkg-opacity5:before {
	content: "";
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    position: absolute;
}
.bkg-opacity6:before {
	content: "";
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    position: absolute;
}
.bkg-opacity7:before {
	content: "";
    background: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    position: absolute;
}
.bkg-opacity8:before {
	content: "";
    background: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    position: absolute;
}
.bkg-opacity9:before {
	content: "";
    background: rgba(0,0,0,0.9);
    width: 100%;
    height: 100%;
    position: absolute;
}